<launch>

  <!-- Start the recorder first -->
      <node name="record_and_convert"
            pkg="franka_interactive_controllers"
            type="record_and_convert.py"
            output="screen" />
  
    
      <!-- Delay controller start to ensure rosbag records from the beginning -->
      <node name="damm_controller"
            pkg="lpvds_damm"
            type="damm_node.py"
            output="screen"
            launch-prefix="bash -c 'sleep 2; exec &quot;$0&quot; &quot;$@&quot;'">
        <param name="position_model_json" value="/home/tianyu/ncds_ws/non-conservative-DS-controller/ros_ws/src/lpvds_damm/trained_ds/j_shape_position.json" />
        <param name="orientation_model_json" value="/home/tianyu/ncds_ws/non-conservative-DS-controller/ros_ws/src/lpvds_damm/trained_ds/j_shape_orientation.json" />
      </node>

      <!-- Apply a disturbance after 3 seconds
      <node name="apply_disturbance"
            pkg="franka_interactive_controllers"
            type="apply_disturbance.py"
            output="screen"/> -->

    
    </launch>
